.btn{
  display: inline;
  padding: 12px 25px;
  font-size: rems(14px);
  &__link{
    position: relative;
    span{
      margin-left: rems(16px);
      line-height: rems(32px);
      vertical-align: middle;
    }

    &:hover,
    &:active{
      opacity: 0.8;
    }
  }
  &--round{
    border-radius: rems(20px);
    text-align: center;
    background: rgba(255,255,255, 0.1);
  }

  &--white{
    border: 1px solid $round-btn-white-border;
  }
  &--dark{
    border: 1px solid $round-btn-dark-border;
  }
  &--blue {
    background: $round-btn-blue-background;
    color: $round-btn-blue-color;
  }
  &--success{
    border: 1px solid $round-btn-success-border;
    background: $round-btn-success-background;
    padding: 14px 30px;

    img{
      display: inline-block;
      visibility: hidden;
      margin-right: rems(14px);
    }

    img.show{ visibility: visible;}

    .progress__circle{
      animation: spin 0.9s infinite cubic-bezier(0.085, 0.260, 0.935, 0.710);
      height: 24px;
      width: 24px;
      position: absolute;
      transform: translate(-20%, -20%);
      pointer-events: none;
      left: 5%;
      top: 50%;
      visibility: hidden;

      path{
        fill: $white;
      }

      &.show{ visibility: visible; }
    }
  }
}

// keyframes spin animation for loading indicator
@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: center center;
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
    transform-origin: center center;
  }
}
