.collapsible{
  background: $collapsible-background-color;
  @include respond-to-max($media-tablet){
    width: 100%;
    border-bottom: rems(25px);
  }  
  &__header{
    padding: 21px 21px;
    border-bottom: 1px solid $collapsible-header-border-color;
    .header__title{
      color: $collapsible-header-title-color;
      font-weight: 400;
      line-height: rems(20px);
      font-size: rems(12px);
    }
  }

  &__item{
    border-bottom: 1px solid $collapsible-list-item-border-color;

    &__trigger{
      color: $collapsible-item-header-color;
      font-weight: bold;
      display: flex;
      align-items: center;
      padding: 15px 22px 15px 22px;

      &.is-open{
        background: $collapsible-item-body-opened-background;
      }

      &:hover{
        cursor: pointer;
      }

      .trigger__text{
        flex: 2;
      }
    }
    
    &__contentInner{
      padding: 15px 0 20px 40px;
      background: $collapsible-item-body-opened-background;

      .list__item{
        padding:5px 0;
        transition: all 0.3s ease-in;
        color: $collapsible-list-item-color;
        text-align: left;
        font-weight: bold;
        line-height: rems(38px);
        font-size:rems(12px);

        &:hover{
          cursor: pointer;
          color: $collapsible-link-hover-color;
        }
      }
    }   
  }
}
