.filters{
  background: $filters-background-color;
  border-radius: rems(4px);
  @include respond-to-max($media-tablet){
    width: 100%;
    margin-bottom: rems(25px);
  }
  .collapsible{ border-radius: rems(4px); }
  .collapsible__header{
    display: flex;
    padding: 0;
    border-bottom: 1px solid $header-title-border-bottom-color;
    .header__title{
      flex: 1;
      border-right: 1px solid $header-title-border-right-color;
      color: $header-title-main-color;
      font-weight: 400;
      text-align: left;
      font-size: rems(12px);
      line-height: rems(20px);
      display: flex;
      align-items: center;
      padding-left: rems(20px);
    }

    .header__action{
      padding: 21px 21px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .action__text{
        margin-right: rems(10px);
        color: $header-title-action-color;
        font-size: rems(12px);
        line-height: rems(20px);
        font-weight: 400;
        transition: all 0.3s ease-in-out;

        &:hover{
          cursor: pointer;
          color: shade($header-title-action-color, 30%);
        }
      }
    }
  }

  .collapsible__item--button{
    padding: 21px 59px;

    .btn{
      display: block;
      color: $white;
      padding: 14px 23px;
    }
  }
  
  .collapsible__item--tags,
  .collapsible__item--range{
    padding: 21px;
  }
  .collapsible__item--tags{

    .tags__list{
      
      .tag{
        display: inline-block;
        padding: 5px 15px;
        font-weight: bold;
        font-size: rems(12px);
        line-height: rems(20px);
        border-radius: rems(15px);
        margin-right: rems(10px);
        margin-bottom: rems(10px);
        text-align: center;
        color: $tag-text-color;
        cursor: pointer;

        &:hover{
          color: shade($tag-text-color, 30%);
        }

        &:nth-child(3n){
          margin-right: 0;
        }
        
        .tag__icon{
          display: none;
          pointer-events: none;
        }

        &--active{
          border: 1px solid $tag-active-border-color;
          color: $tag-active-text-color;

          .tag__icon{
            display: inline-block;
            margin-left: rems(7px);
            pointer-events: all;
          }

          &:hover{
            color: shade($tag-active-text-color, 20%);
          }
        }

        &--inactive{
          border: none;
          color: inherit;

          .tag__icon{
            display: none;
          }
        }
      }
    }

    .tags__title{
      color: $tags-header-title-color;
      text-align: left;
      font-weight: bold;
      font-size: rems(12px);
      line-height: rems(24px);
      margin-bottom: rems(15px);
    }
  }
  .collapsible__item--range{
    
    .price__title{
      color: $header-title-main-color;
      font-size: rems(12px);
      font-style: bold;
      line-height: rems(24px);
      margin-bottom: rems(14px);
    }

    .input__group{
      display: flex;
      justify-content: flex-start;
      align-content: center;
      flex-wrap: wrap;

      .input__control{
        flex: 1;

        .label{
          color: $range-input-label;
          font-size: rems(10px);
          font-weight: bold;
          line-height: rems(20px);
          margin-bottom: rems(10px);
        }
        
        // I can use type=number but then I need to override html5 arrow styles which is not so great 
        // for cross browser experience.Anyway its probably more semantically right
        input[type="text"]{
          max-width: rems(70px);
          outline: none;
          border: 1px solid $range-input-border;
          color: $range-input-color;
          margin-right: rems(15px);
          padding: 7px 3px;
          &:last-of-type{
            margin-right: 0;
          }
        }
      }
    }
    .range__slider{
      position: relative;
      padding: 50px 0 20px 0;
      .input-range{
        position: relative;
        width: 100%;
      }

      .bar{
        height: rems(4px);

        &-0,
        &-2 {
          background:$range-disabled-slider;
        }
        &-1{
          background: $range-active-slider;
        }
      }

     .handle{
        background: $white;
        height: rems(16px);
        width: rems(16px);
        border-radius: 50%;
        text-indent: rems(-5000px);
        border: 1px solid $range-disabled-slider;
        box-shadow: 0 0 10px $range-disabled-slider;
        bottom: rems(-10px);
        &:hover{
          background: $range-disabled-slider;
          cursor: pointer; 
        }
      }

      .input-range__track--background{
        left: 0;
        margin-top: -0.15rem;
        position: absolute;
        right: 0;
        top: 50%;
      }
      .input-range__track{
        background: #eeeeee;
        border-radius: 0.3rem;
        cursor: pointer;
        display: block;
        height: 0.3rem;
        position: relative;
        transition: left 0.3s ease-out, width 0.3s ease-out;

        &--active{
          background: #3f51b5;
        }
      }

      .input-range__slider-container{
        transition: left 0.3s ease-out;
      }
      
      .input-range__label{
        color: #aaaaaa;
        font-size: 0.8rem;
        transform: translateZ(0);
        white-space: nowrap;

        &-container{
          left: -50%;
          position: relative;
        }
      }

      .input-range__label--value{
        position: absolute;
        top: -1.8rem;
      }

      .input-range__slider{
        appearance: none;
        background: #3f51b5;
        border: 1px solid #3f51b5;
        border-radius: 100%;
        cursor: pointer;
        display: block;
        height: 1rem;
        margin-left: -0.5rem;
        margin-top: -0.65rem;
        outline: none;
        position: absolute;
        top: 50%;
        transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
        width: 1rem;
      }
    }
  }
}
