.filters{
  background: $filters-background-color;
  
  .collapsible__header{
    display: flex;
    padding: 0;
    border-bottom: 1px solid $header-title-border-bottom-color;
    .header__title{
      flex: 1;
      border-right: 1px solid $header-title-border-right-color;
      color: $header-title-main-color;
      font-weight: 400;
      text-align: left;
      font-size: rems(12px);
      line-height: rems(20px);
      display: flex;
      align-items: center;
      padding-left: rems(20px);
    }

    .header__action{
      padding: 21px 21px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .action__text{
        margin-right: rems(10px);
        color: $header-title-action-color;
        font-size: rems(12px);
        line-height: rems(20px);
        font-weight: 400;
        transition: all 0.3s ease-in-out;

        &:hover{
          cursor: pointer;
          color: shade($header-title-action-color, 30%);
        }
      }
    }
  }

  .collapsible__item--button{
    padding: 21px 59px;

    .btn{
      display: block;
      color: $white;
      padding: 14px 23px;
    }
  }
  
  .collapsible__item{
    padding: 21px;
  }
  .collapsible__item--tags{

    .tags__list{
      
      .tag{
        display: inline-block;
        padding: 5px 15px;
        font-weight: bold;
        font-size: rems(12px);
        line-height: rems(20px);
        border-radius: rems(15px);
        margin-right: rems(10px);
        margin-bottom: rems(10px);
        text-align: center;

        &:nth-child(3n){
          margin-right: 0;
        }
        
        .tag__icon{
          display: none;
          pointer-events: none;
        }

        &--active{
          border: 1px solid $tag-active-border-color;
          color: $tag-active-text-color;

          .tag__icon{
            display: inline-block;
            margin-left: rems(7px);
          }

          &:hover{
            cursor: pointer;
            color: shade($tag-active-text-color, 20%);
          }
        }

        &--inactive{
          border: none;
          color: inherit;

          .tag__icon{
            display: none;
          }
        }
      }
    }

    .tags__title{
      color: $tags-header-title-color;
      text-align: left;
      font-weight: bold;
      font-size: rems(12px);
      line-height: rems(24px);
    }
  }
  .collapsible__item--range{}
}
