.newsletter-card{
  padding: rems(95px) rems(45px);
  background: $newsletter-form-background;
  color: $newsletter-form-color;
  border-radius: rems(4px);

  .card__title{
    font-size: rems(26px);
    font-weight: bold;
    line-height: rems(36px);
    margin-bottom: rems(15px);
    text-align: center;
  }

  .card__body{
    text-align: center;
    margin-bottom: rems(20px);
    p{
      font-size: rems(14px);
      line-height: rems(20px);
    }
  }

  .card__input{
    position: relative;
    margin-bottom: rems(30px);
    .input__email{
      width: 100%;
      color: $newsletter-form-input-color;
      padding: rems(18px) rems(77px);
      line-height: rems(18px);
      font-weight: bold;
      font-size: rems(13px);
      border-radius: rems(4px);
      border: 1px solid transparent;
      outline: none;
      resize: vertical;
      transition: all 0.3s ease-in;
      &:focus{
        border:1px solid $newsletter-form-input-hover-color;
      }
    }

    .input__icon{
      position: absolute;
      left: rems(30px);
      top: 55%;
      font-size: rems(13px);
      line-height: rems(20px);
      margin-top: rems(-10px);
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      transition: all .3s ease;
    }
  }

  .card__button{
    text-align: center;
  }
}

// newsletter article
.newsletter-article{
  padding: 55px 60px;
  background: $newsletter-article-background-color;
  margin-right: rems(30px);
  border-radius: rems(4px);
  
  .newsletter-article-info{
    padding-right: rems(20px);
  }
  @include respond-to-max($media-tablet) {
    margin-bottom: rems(25px);
    margin-right: 0;
    padding: 20px 30px;
  }
  .article__title{
    font-size: rems(34px);
    font-weight: medium;
    line-height: rems(40px);
    text-align: left;
    margin-bottom: rems(28px);
    padding-top: rems(25px);
    color: $newsletter-article-title-color;
  }

  .article__body{
    font-size: rems(14px);
    line-height: rems(24px);
    color: $newsletter-article-body-color;
    margin-bottom: rems(25px);
    padding-right: rems(40px);
    @include respond-to-max($media-tablet) {
      padding-right: 0;
    }
  }

  .article__button {
    @include respond-to-max($media-tablet) {
      margin-bottom: rems(20px);
    }
  }
}
