.service{
  //margin-right: rems(30px);
  padding: rems(38px);
  display: flex;
  align-items: center;
  margin-bottom: rems(30px);
  @include respond-to-max($media-tablet){
    margin-bottom: rems(20px);
  }

  &__avatar{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: rems(18px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .stats__info{
    font-size: rems(28px);
    line-height: rems(36px);

    &--color-dark{
      color: $service-stat-color-dark;
    }
    &--color-white{
      color: $service-stat-color-white;
    }
  }
  
  .stats__title{
    font-size: rems(12px);
    &--color-dark{
      color: $service-title-color-dark;
    }
    &--color-white{
      color: $service-title-color-white;
      opacity: 0.76;
    }
  }
}
