// basic colors
$background-color: #efeff0;
$header-color: #32394d;
$font-color: #9d9fa3;
$link-color: #4DAA57;
$strong-color: #222325;
$white: #ffffff;
// font options
$font-family: "Lato";
$font-size: 16px;

//newsletter form
$newsletter-form-background: #33a7e3;
$newsletter-form-color: $white;
$newsletter-form-input-color: #b9c3cb;
$newsletter-form-border-color: $white;
$newsletter-form-input-hover-color: $header-color;
// newsletter article
$newsletter-article-body-color: #7a7c81;
$newsletter-article-title-color: $header-color;
$newsletter-article-background-color: $white;
// datepicker
$datepicker-background-color: $white;
$datepicker-header-month-color: #32394d;
$datepicker-header-border-color: #ecf1f5;
$datepicker-dayname-color: #6a6f7b;
$datepicker-days-color: #252933;
$datepicker-days-previous-color: #c5c8d1;
$datepicker-days-today-background: #11d11f;
$datepicker-days-selected-color: $white;
$datepicker-days-selected-background: #f7f9fa;
$datepicker-days-selected-border-color: #e7ebee;
// collapsible
$collapsible-background-color: $white;
$collapsible-header-title-color: #9fa3ac;
$collapsible-header-border-color: #ecf1f5;
$collapsible-item-header-color: #32394d;
$collapsible-item-body-opened-background: #f9fafb;
$collapsible-link-hover-color: #0b91d6;
$collapsible-list-item-color: #32394d;
$collapsible-list-item-border-color: #ecf1f5;
// services section variables
$service-stat-color-dark: $header-color;
$service-stat-color-white: $white;

$service-title-color-dark: #6d7487;
$service-title-color-white: $white;

// articles section variables
$large-article-background: #9c62b5;
$large-article-font-color: $white;

$small-article-background: $white;
$small-article-font-color: $header-color;
$small-article-number-color: #c6c9cc;
$author-avatar-background: #10131c;

// btn vars and colors
$round-btn-white-border: $white;
$round-btn-dark-border: #bec0c3;

$round-btn-success-border: transparent;
$round-btn-success-background: #18d726;

$round-btn-blue-background: #0a95dd;
$round-btn-blue-color: $white;

