// basic colors
$background-color: #efeff0;
$header-color: #32394d;
$font-color: #9d9fa3;
$link-color: #4DAA57;
$strong-color: #222325;
$white: #ffffff;
// font options
$font-family: "Lato";
$font-size: 16px;

// product carousel
// small card with carousel
$card-background-color: $white;
$card-header-dot-background: #d9e0e5;
$card-header-title-color: #32394d;
$card-header-border-color: #ecf1f5;
// large card with carousel
$card-breadcrumbs-current-color: #32394d;
$card-breadcrumbs-items-color: #bbc2c7;
$card-large-header-color: #32394d;
$card-star-rating-color-active: #eb7e14;
$card-star-rating-color: #ebeff2;
$card-description-color: #7e8083;
$card-button-bag-color: #11d11f;
$card-votes-color: #32394d;
$card-price-color: #7a7c81;
$card-value-color: #32394d;
$card-shipping-color: $card-price-color;
$card-pricing-border-color: #ecf1f5;
$card-footer-border-top-color: #ecf1f5;

$card-footer-btn-buy-background: #11d11f;
$card-footer-btn-buy-color: $white;
$card-footer-btn-color: #32394d;

// carousel
$carousel-title-color: #32394d;
$carousel-price-color: #32394d;
$carousel-footer-border-color: #ecf1f5;
$carousel-indicator-background-color: #ebeff2;
$carousel-indicator-active-background: #0a95dd;

//newsletter form
$newsletter-form-background: #33a7e3;
$newsletter-form-color: $white;
$newsletter-form-input-color: #b9c3cb;
$newsletter-form-border-color: $white;
$newsletter-form-input-hover-color: $header-color;
// newsletter article
$newsletter-article-body-color: #7a7c81;
$newsletter-article-title-color: $header-color;
$newsletter-article-background-color: $white;
// datepicker
$datepicker-background-color: $white;
$datepicker-header-month-color: #32394d;
$datepicker-header-border-color: #ecf1f5;
$datepicker-dayname-color: #6a6f7b;
$datepicker-days-color: #252933;
$datepicker-days-previous-color: #c5c8d1;
$datepicker-days-today-background: #11d11f;
$datepicker-days-selected-color: $white;
$datepicker-days-selected-background: #f7f9fa;
$datepicker-days-selected-border-color: #e7ebee;
// collapsible
$collapsible-background-color: $white;
$collapsible-header-title-color: #32394d;
$collapsible-header-border-color: #ecf1f5;
$collapsible-item-header-color: #32394d;
$collapsible-item-body-opened-background: #f9fafb;
$collapsible-link-hover-color: #0b91d6;
$collapsible-list-item-color: #32394d;
$collapsible-list-item-border-color: #ecf1f5;
// filters
$filters-background-color: white;
$header-title-border-right-color: #ecf1f5;
$header-title-border-bottom-color: #ecf1f5;
$header-title-action-color: #b4bfc7;
$header-title-main-color: #32394d;
// tags
$tags-header-title-color: #32394d;
$tag-active-border-color: #e7ebee;
$tag-active-text-color: #0b91d6;
$tag-text-color: #7a7c81;
// services section variables
$service-stat-color-dark: $header-color;
$service-stat-color-white: $white;

$service-title-color-dark: #6d7487;
$service-title-color-white: $white;
//charts and chart section
$chart-bar-label-text-color: #6a6f7b;
$chart-bar-background: #0a95dd;
$chart-hr-color: #ecf1f5;
$chart-header-title-color: #32394d;
$chart-header-border-color: #ecf1f5;
$chart-header-dot-color: #d9e0e5;
$chart-subheader-button-colo: #596070;
$chart-subheader-button-background: #f5f7f9;
$chart-subheader-button-empty-background: #a0a1a4;
$chart-subheader-sales-number-color: #32394d;
$chart-subheader-sales-title-color: #828388;
$chart-b-color: #32394d;
$chart-tooltip-color: #32394d;

$chart-filters-btn-color: #a0a1a4;
$chart-filters-btn-active-color: #32394d;
$chart-filters-btn-border-color: #e7ebee;
$chart-filters-btn-bg: #f5f7f9;
// articles section variables
$large-article-background: #9c62b5;
$large-article-font-color: $white;

$small-article-background: $white;
$small-article-font-color: $header-color;
$small-article-number-color: #c6c9cc;
$author-avatar-background: #10131c;

// btn vars and colors
$round-btn-white-border: $white;
$round-btn-dark-border: #bec0c3;

$round-btn-success-border: transparent;
$round-btn-success-background: #18d726;

$round-btn-blue-background: #0a95dd;
$round-btn-blue-color: $white;

